---
title: Index page
innerClass: 'inner_center inner_darken'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="form-box">
		<a href="#" class="form-box__logo">
			<img src="img/logo.svg" alt="B2BSoft" class="form-box__logo-img">
		</a>
		<div class="form-box__title">Time Clock Manager</div>
		<div class="field form-box__field">
			<div class="field__label">CHOOSE YOUR LOCATION</div>
			<select class="select">
				{% for item in range(0,5) %}
					<option value="5 TH AVE {{loop.index}}">5 TH AVE {{loop.index}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-box__footer">
			<button class="btn form-box__btn">Select</button>
		</div>
	</div>

{% endblock %}
